label {
  margin-right: 10px;
}

.search-param {
  margin-bottom: 10px;
}

.search-grid {
}

.search-grid__header {
  display: flex;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.search-grid__header__item {
  padding: 20px 10px;
  width: 100px;
}

.search-grid__body {
}
