.album-add {
  margin-bottom: 25px;
}

.album-add__new {
  display: none;
}

.album-add__new.show-new {
  margin-bottom: 25px;
  display: block;
}

.add-btn {
  background-color: #4caf50;
  color: white;
}
.cancel-btn {
  background-color: #e3eaa7;
}
