.album-add {
  margin-bottom: 25px;
}

.album-add__new {
  display: none;
}

.album-add__new.show-new {
  margin-bottom: 25px;
  display: block;
}

.album-add__btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

.album-add__export-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 8px;
}
